<div id="<%= name %>">
  <div class="list-group panel">
    <%
      if (items) {
        items.forEach(function(item) {
          var collapsed = '';
          if (item.collapsed) { collapsed = 'in'; }
    %>
      <a href="#<%= item.id %>" class="list-group-item list-group-item-danger" data-toggle="collapse" data-parent="#<%= name %>">
        <%- item.label %>
      </a>
      <div class="collapse <%= collapsed %>" id="<%= item.id %>">
      <%
        if (item.items) {
          item.items.forEach(function(subitem) {
      %>
        <%- include('private/vertical-accordion-subitem', {subitem: subitem, parentname: item.id}) %>
      <%
          })
        }
       %>
     </div>
    <%
        })
      }
    %>
  </div>
</div>
